body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 3px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    flex-wrap: wrap;
}

#data {
    display: none;
}

#confirm,#input {
    height: 25px;
    margin-top: 10px;
    grid-column: span 2;
}

.guess {
    height: 25px;
    width: 350px;
    border:1px solid black;
    font-size: large;
    display: flex;
    align-content: center;
}

.arrow {
    font-size: large;
}

.abilityname {
    height: 50px
}

.uparrow::before {
    content:"↑";
    align-self: start;
}
.downarrow::before {
    content:"↓";
}