body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.guess {
    height: 25px;
    width: 350px;
    border:1px solid black
}

#data {
    display: none;
}